<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nom_food_kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nom_food_kotlin"
        tools:targetApi="31">
        <activity
            android:name=".Activity.OrderAgainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.SearchBillActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.AddOrEditFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.OrderDetailActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MY_API_KEY_MAP" />

        <activity
            android:name=".Activity.Admin.MainActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".Activity.MapActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BillActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CompleteActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DiscountDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DiscountActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ErrorActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SetUpNameActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.NextIntroActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>